<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536807293085-f9s1lcgtsb3ftsn2qlca2s3edjr61tc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536807293085-f9s1lcgtsb3ftsn2qlca2s3edjr61tc9</string>
	<key>API_KEY</key>
	<string>AIzaSyB1mDc6gR6lqrBl4Bd8dRUs6bNwtd1a4V0</string>
	<key>GCM_SENDER_ID</key>
	<string>536807293085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rakanLab11</string>
	<key>PROJECT_ID</key>
	<string>rakanlab11</string>
	<key>STORAGE_BUCKET</key>
	<string>rakanlab11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536807293085:ios:41b1a1e9cc3d8046d39474</string>
</dict>
</plist>