<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313297854785-efheuh1hb7q2clee0idcbb8tospurrn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313297854785-efheuh1hb7q2clee0idcbb8tospurrn1</string>
	<key>API_KEY</key>
	<string>AIzaSyB4p4Y6qgywcfK-lisem5TuNcoi2XLJbm8</string>
	<key>GCM_SENDER_ID</key>
	<string>313297854785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shathaLab11</string>
	<key>PROJECT_ID</key>
	<string>shatha-lab11</string>
	<key>STORAGE_BUCKET</key>
	<string>shatha-lab11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313297854785:ios:4162385b56d431562381c0</string>
</dict>
</plist>