<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229068108941-4kfl34d0rv4kshnd97pfd2u7lnu3netu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229068108941-4kfl34d0rv4kshnd97pfd2u7lnu3netu</string>
	<key>API_KEY</key>
	<string>AIzaSyDbMbYCENZ0QpEFGxM8OMdpx9oPi-xZRxE</string>
	<key>GCM_SENDER_ID</key>
	<string>229068108941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab11</string>
	<key>PROJECT_ID</key>
	<string>lab11-ff73f</string>
	<key>STORAGE_BUCKET</key>
	<string>lab11-ff73f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229068108941:ios:89b03634219e63bd781ec4</string>
</dict>
</plist>