<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26279985577-7m9lrgcve27c4efht5b0fke68k8qdodd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26279985577-7m9lrgcve27c4efht5b0fke68k8qdodd</string>
	<key>API_KEY</key>
	<string>AIzaSyBLMobDfHTO_RgKs3RkOJI7S88xhKI8Wlk</string>
	<key>GCM_SENDER_ID</key>
	<string>26279985577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fire</string>
	<key>PROJECT_ID</key>
	<string>testingfire-470a3</string>
	<key>STORAGE_BUCKET</key>
	<string>testingfire-470a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26279985577:ios:8152dbc5874c6dc3c104b8</string>
</dict>
</plist>