<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855123307886-9uir5ocr16822v81skn2db6j6u6res5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855123307886-9uir5ocr16822v81skn2db6j6u6res5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCSYOcZlHQkCDXqYaquiiRBkO6OWOIC15U</string>
	<key>GCM_SENDER_ID</key>
	<string>855123307886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aa</string>
	<key>PROJECT_ID</key>
	<string>testi-2926c</string>
	<key>STORAGE_BUCKET</key>
	<string>testi-2926c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855123307886:ios:0d2dc2749e0b0ee878e57f</string>
</dict>
</plist>